.continuous-slider-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 10px;
}

.continuous-slider-track {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 2rem;
}

.continuous-slider-track::-webkit-scrollbar {
  display: none;
}

.continuous-slide {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  margin-right: 1rem;
  object-fit: contain;
}

.section-title {
  color: #f2c300;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
