.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #f2c300;
  margin: 1rem;
}

.image-section {
  flex: 1;
  max-width: 100%;
}

.aboutus-image {
  width: 100%;
  max-width: 600px;
  height: 500px;
  object-fit: cover;
}

.text-section {
  flex: 1 1;
  height: 432px;
  max-width: 100%;
  background-color: #f2c300;
  box-sizing: border-box;
  text-align: -webkit-center;
}

.text-section h2 {
  font-size: clamp(18px, 3vw, 28px);
  font-weight: bold;
  color: #ffffff;
  /* margin-bottom: 20px; */
  font-size: 3rem;
}

.text-section p {
  font-size: clamp(14px, 2vw, 18px);
  color: #ffffff;
  line-height: 1.6;
  margin: 2rem 3rem 1rem 3rem;
  font-size: 20px;
  max-width: 600px;
}

.know-more-button {
  border: none;
  padding: 8px 0px;
  font-size: clamp(12px, 1.5vw, 16px);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  background-color: white;
  text-transform: uppercase;
}

.know-more {
  color: #f2c300;
  padding: 10px 20px;
}
.know-more:hover {
  color: #f2c300;
  background-color: black;
}
.know-more-button :hover {
  color: #f2c300;
  background-color: black;
}

@media (max-width: 1024px) {
  .about-us-container {
    padding: 1rem 5%;
  }

  .text-section h2 {
    font-size: clamp(38px, 2.5vw, 30px);
  }

  .text-section p {
    font-size: clamp(18px, 2vw, 18px);
  }

  .know-more-button {
    padding: 8px 16px;
  }
}

@media (max-width: 868px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
  }

  .image-section,
  .text-section {
    max-width: 90%;
  }

  .text-section h2 {
    font-size: clamp(16px, 3vw, 20px);
  }

  .text-section p {
    font-size: clamp(17px, 2vw, 14px);
  }

  .know-more-button {
    font-size: clamp(12px, 2vw, 14px);
  }
}

@media (max-width: 480px) {
  .about-us-container {
    padding: 0px 3%;
    gap: 20px;
  }

  .text-section h2 {
    font-size: clamp(14px, 4vw, 18px);
  }

  .text-section p {
    font-size: clamp(16px, 3vw, 14px);
    margin: 0;
  }

  .know-more-button {
    padding: 6px 12px;
    font-size: clamp(11px, 3vw, 13px);
    margin-bottom: 1rem;
  }
}
