.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  font-family: "sans-serif";
  text-transform: uppercase;
  margin-top: 4rem;
  /* width: 100%; */
}

.header-text {
  margin-top: 0rem;
  text-align: center;
  color: black;
}
.header-text-story {
  margin-top: 5rem;
  text-align: center;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #f2c300;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: cursive;
}
.header-text h1 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-link {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.card-portfolio {
  background-color: white;
  width: 100%;
  max-width: 400px;
}

.card-image-portfolio {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  max-width: 400px;
  border-radius: 2px;
}

.card-content-portfolio {
  padding: 1rem;
  text-align: center;
}

.card-content-portfolio h2 {
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
}

.card-content-portfolio p {
  font-size: 1rem;
  color: #000;
  font-weight: 100;
}

@media (max-width: 1024px) {
  .header-text h1 {
    font-size: 2rem;
  }
  .card-link {
    gap: 2rem;
    width: 79%;
  }
}

@media (max-width: 828px) {
  .header-text h1 {
    font-size: 1.5rem;
  }
  .card-link {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .header-text h1 {
    font-size: 1.3rem;
  }
  .card-link {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .card-portfolio {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .header-text h1 {
    font-size: 1.1rem;
  }
  .card-portfolio {
    max-width: 100%;
  }
}
