.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 350px;
  height: 400px;
  object-fit: cover; 
}

.card-content {
  padding: 15px;
  background-color: #fff;
  color: #333;
  text-align: center;
  flex-grow: 1; 
}

.card-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1rem;
  color: #555;
}


.view-project {
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  padding: 4px;
}

@media (max-width: 768px) {
  .card-content {
    padding: 15px;
  }

  .card-content h3 {
    font-size: 1.3rem;
  }

  .card-content p {
    font-size: 0.9rem;
  }

  .card-image {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .card-content {
    padding: 10px;
  }

  .card-content h3 {
    font-size: 1.1rem;
  }

  .card-content p {
    font-size: 0.85rem;
  }

  .card-image {
    height: 300px;
  }
}
