body {
    margin: 0;
    padding: 0;
}

.line-background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #111;
}

.line {
    position: absolute;
    width: 100%;
    height: 4px;
    animation: move 5s linear infinite;
    opacity: 0.8;
}


.line:nth-child(1) { top: 10%; background-color: #ff7e5f; }
.line:nth-child(2) { top: 20%; background-color: #feb47b; animation-delay: 1s; }
.line:nth-child(3) { top: 30%; background-color: #6a11cb; animation-delay: 2s; }
.line:nth-child(4) { top: 40%; background-color: #2575fc; animation-delay: 3s; }
.line:nth-child(5) { top: 50%; background-color: #7f7fd5; animation-delay: 4s; }
.line:nth-child(6) { top: 60%; background-color: #76eaea; animation-delay: 2s; }
.line:nth-child(7) { top: 70%; background-color: #eef1f6; animation-delay: 3s; }
.line:nth-child(8) { top: 80%; background-color: #572949; animation-delay: 4s; }
.line:nth-child(9) { top: 90%; background-color: #717197; animation-delay: 4s; }

@keyframes move {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    color: #ffffff; 
    margin-top: 3rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.full-width-button {
    width: 100%;
    max-width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 35px;
    font-size: 25px;
    background-color: rgba(26, 27, 27, 0.8);
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 16px 39px rgba(441, 126, 39, 0.3);
}

.full-width-button:hover {
    background: linear-gradient(135deg, #ee0979, #ff6a00);
    border: 2px solid #ff6a00;
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(255, 126, 95, 0.4);
}

.button-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    font-style: normal;
    border: 1px solid #b7b7b7;
    padding: 0.5rem;
    background-color: #111;
}

@media (min-width: 768px) {
    .button-container {
        flex-direction: row;
    }
    
    .full-width-button {
        font-size: 18px;
    }
}

@media (min-width: 268px) {
    .button-container {
        height: 300px;
    }
    
    .full-width-button {
        font-size: 18px;
    }
}