.hero-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 20;
  /* padding: 1rem 2rem; */
  align-items: center;
  background-color: black;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link-style {
  color: white;
  text-decoration: none;
  /* font-weight: bold; */
  transition: color 0.3s;
}

.link-style:hover {
  color: yellow;
}

.hamburger-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: yellow;
}

.svg-icon-header {
  width: 70px;
  height: 70px;
}

.social-icons-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.switch-icon-header {
  text-decoration: none;
  font-size: 14px;
  padding: 8px 16px;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .nav-links.open {
    display: flex;
  }
}
