.hero-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 20;
  align-items: center;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1rem;
}

.link-style {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

.link-style:hover {
  color: rgb(241, 241, 241);
}

.hamburger-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #f2c300;
}

.svg-icon-header {
  width: 70px;
  height: 70px;
  margin-right: 14rem;
}

.social-icons-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.switch-icon-header {
  text-decoration: none;
  font-size: 14px;
  padding: 2px 6px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  margin-right: 1rem;
}
.shuffle-icon:hover {
  color: #000000;
  transition: background-color 0.3s ease;
}
.shuffle-icon {
  color: #ffffff;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
    margin-left: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #7f6910;
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .nav-links.open {
    display: flex;
  }
  @media (max-width: 768px) {
    .switch-icon-header {
      font-size: 8px;
      padding: 2px 4px;
    }
    .svg-icon-header {
      width: 50px;
      height: 50px;
      margin-right: 0;
    }
  }
}
