body {
    font-style: italic;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: rgb(135, 89, 89);
    text-align: center;
    position: relative;
}

.hero-content {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.hero-content h2 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 2rem;
}

.hero-content h2, h1, button {
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 2s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content button:hover {
    background-color: #555;
}

.vow-section {
    text-align: center;
    color: #676767;
    padding: 1rem 2rem;
    background-color: white;
}

.vow-section h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.vow-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-style: italic;
}

.vow-section h3, p {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 2s ease-in-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
