.vow-section {
  text-align: center;
  color: #676767;
  padding: 2rem 1rem;
  background-color: white;
  max-width: 1200px;
  margin: auto;
}

.vow-section h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #f2c300;
  text-transform: uppercase;
}

.vow-section h2 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  font-weight: 300;
  color: #f2c300;
  font-style: italic;
  padding: 0 1rem;
}

.vow-section p {
  font-size: 1rem;
  line-height: 1;
  font-style: italic;
  margin: 0.5rem auto;
  color: #000;
  max-width: 800px;
  padding: 0 1rem;
}

.vow-section span {
  font-size: 1rem;
  line-height: 1.6;
  font-style: italic;
  color: #000;
  display: inline-block;
  max-width: 800px;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .vow-section {
    padding: 3rem 4rem;
  }

  .vow-section h1 {
    font-size: 2.8rem;
  }

  .vow-section h2 {
    font-size: 1.6rem;
  }

  .vow-section p,
  .vow-section span {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .vow-section h1 {
    font-size: 3rem;
  }

  .vow-section h2 {
    font-size: 1.2rem;
  }

  .vow-section p,
  .vow-section span {
    font-size: 1rem;
  }
}
