.gallery-container {
  text-align: center;
  padding: 20px;
  margin-top: 6rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.gallery-item-wrapper {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.gallery-item-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-wrapper.large {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 8/9;
}

.gallery-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }

  .gallery-container h1 {
    font-size: 2.5rem;
  }

  .gallery-item-wrapper.large {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 8/9;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .gallery-item-wrapper.large {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .gallery-container h1 {
    font-size: 3rem;
  }

  .gallery-item-wrapper.large {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 8/9;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .gallery-container h1 {
    font-size: 2.5rem;
  }

  .gallery-item-wrapper.large {
    grid-column: span 3;
    grid-row: span 2;
    aspect-ratio: 8/9.5;
    margin-bottom: 0;
  }
}
