.wedding-planning-container {
  display: flex;
  background-image: url("https://res.cloudinary.com/dmj6ur8sm/image/upload/v1743842556/ippt5cf7ecpi8rcjmr3z.jpg");
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  gap: 2rem;
  padding: 40px 20px;
  width: 100%;
  min-height: 40vh;
}
.wedding-planning-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #f2c300;
  text-align: center;
  /* font-style: italic; */
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  margin-bottom: 15px;
}

h3 {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

p {
  color: rgb(255, 247, 247) fff;
  font-size: 1rem;
  line-height: 1.5;
}

.learn-more {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #fede00;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.learn-more:hover {
  background-color: #c2185b;
}

/* @media (max-width: 1024px) {
  .wedding-planning-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
} */

@media (max-width: 768px) {
  .wedding-planning-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
}
