.about-container {
  width: 100%;
  overflow: hidden;
  margin-top: 3rem;
}

.about-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #fffefe;
  padding: 30px;
  width: 100%;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.about-svg-image {
  width: 80px;
  height: 80px;
}

.about-text {
  margin-top: 1.5rem;
  flex: 2;
  align-items: center;
  display: flex;
}

.about-text h2 {
  font-size: 1.5em;
  font-weight: 400;
  /* color: #fede00; */
  margin: 1rem auto;
  width: 60%;
  max-width: 800;
}

.wedding-decor,
.about-text,
.who-we-are,
.testimonials,
.entertainment-services {
  padding: 20px 20px;
  text-align: center;
}

.wedding-decor h2,
.who-we-are h2,
.testimonials h2,
.entertainment-services h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #f2c300;
  margin: 1rem auto;
  width: 60%;
  max-width: 800;
}

.wedding-decor p,
.about-text p,
.who-we-are p,
.testimonials p {
  font-size: 1.5em;
  font-weight: 300;
  color: #000000;
  margin: 1rem auto;
  width: 60%;
  max-width: 800;
}

.entertainment-services ul {
  list-style-type: none;
  padding: 0;
}

.entertainment-services ul li {
  font-size: 1.2em;
  color: #000000;
  margin: 10px 0;
}

.explore-events {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fede00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    text-align: center;
    /* width: 100%; */
  }
}

@media (max-width: 768px) {
  .about-content {
    padding: 20px;
  }

  .about-text h2 {
    font-size: 1em;
    width: 100%;
  }

  .about-text p {
    font-size: 1em;
  }

  .wedding-decor h2,
  .who-we-are h2,
  .testimonials h2,
  .entertainment-services h2 {
    font-size: 1.8em;
  }

  .wedding-decor p,
  .who-we-are p,
  .testimonials p {
    font-size: 1em;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .about-svg-image {
    width: 60px;
    height: 60px;
  }

  .about-text h2 {
    font-size: 1em;
    width: 100%;
  }

  .about-text p {
    font-size: 1em;
  }

  .wedding-decor h2,
  .who-we-are h2,
  .testimonials h2,
  .entertainment-services h2 {
    font-size: 1.5em;
  }

  .wedding-decor p,
  .who-we-are p,
  .testimonials p {
    font-size: 0.9em;
    width: 100%;
  }

  .explore-events {
    padding: 8px 16px;
  }
}
